@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
$primary-color: #141519;
$secondary-color: #202731;
$tertiary-color: #FC7613;
$quarantine-color: #7C8898;
$quinary-color: #fff;
$font: 'Overpass', sans-serif;