@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
$primary-color: hsl(216, 12%, 8%);
$secondary-color: hsl(213, 19%, 18%);
$tertiary-color: hsl(25, 97%, 53%);
$quarantine-color: hsl(217, 12%, 63%);
$quinary-color: hsl(0, 0%, 100%);
$senary-color: #35424f;
$font: 'Overpass', sans-serif;