@use '../abstract/reset';
@use '../abstract/variables';

.card {
    background-color: variables.$secondary-color;
    width: 85%;
    display: inline-block;
    font-family: variables.$font;
    padding: 1.5em;
    border-radius: 16px;
    text-align: center;
    
    &__icon {
        background-color: variables.$senary-color;
        padding: 0.5em;
        border-radius: 36px;
        display: block;  
    }
    &__title {
        text-align: left;
        margin: 0.5em 0;
        color: variables.$quinary-color;

    }
    &__text {
        font-size: 15px;
        margin: 0.5em 0;
        color: variables.$quarantine-color;
        text-align: left;
        margin-bottom: 1em;
    }
    &__image {
        display: none;
    }
    &__result {
        background-color: variables.$senary-color;
        color: variables.$tertiary-color;
        padding: 0.5em 1em;
        display: inline-block;
        border-radius: 16px;
        margin: 1em;
        display: none;
    }
    &__warning {
        color: red;
        display: none;
    }
    
}