@use '../abstract/reset';
@use '../abstract/variables';

.grades {
    margin: 0.5em 0;
    display: flex;
    justify-content: space-between;
    &__option {
        display: flex;
        justify-content: center;
        align-items: center;
        color: variables.$quarantine-color;
        padding: 1.2em;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: variables.$senary-color;
    }
}