@use '../abstract/reset';
@use '../abstract/variables';

.grades {
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__container {
        display: flex;
        justify-content: space-around;
    }
    &__option {
        display: flex;
        justify-content: center;
        align-items: center;
        color: variables.$quarantine-color;
        padding: 1.2em;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: variables.$senary-color;
        cursor: pointer;
        &:active {
            background-color: variables.$quarantine-color;
            color: variables.$quinary-color;
        }
    }
    &__radio {
        display: none;
    }
    &__button {
        border: none;
        width: 100%;
        border-radius: 36px;
        padding: 0.8em;
        background-color: variables.$tertiary-color;
        color: variables.$quinary-color;
        font-size: 16px;
        margin-top: 1em;
        font-weight: 400;
        letter-spacing: 2px;
        cursor: pointer;
        &:active {
            background-color: variables.$quinary-color;
            color: variables.$tertiary-color;
        }
    }
    &__option-selected {
       @extend .grades__option;
        background-color: variables.$tertiary-color;
        color: variables.$quinary-color;
    }
}